
     *{
        margin: 0px;
        padding: 0px;
        box-sizing:border-box;
    }
    @font-face {
        font-family:Nun;
        src: url(Nunito.ttf);
    }
   
    body {
        font-family:Nun;
        color: #d67002;
        font-size: 20px;
    }
    header{
        background-image: url(encabezado.jpg);
        background-size: cover;
        height: 400px;
        width: 100%;
    }
    .cuadro1{
        width: 60%;
        height: 500px;
        text-align: justify;
        padding: 40px;
        border: solid,1px,#d67002;
    }
    .cuadro1 a{ 
        width: 25%;
        text-align: center;
        background-color: #d67002;
        color: white;

    }
    .cuadro2 {
        width: 40%;
        height: 500px;
        text-align: center;
        background-color: #d67002;
    }
    .cuadro2 img {
        width:80%;
        height:80%;
    }
    ol {
    list-style-type:lower-alpha;
    list-style-position:inside;
    }
    label input textarea select{
        width: 100%;
        height: 500px;
        text-align: center;
        padding: 40px;
        border: solid 1px #d67002;
    }
    fieldset{
        width: 60%;
        text-align: center;
        padding:10px;
        margin-top:5px;
        margin-left:20%;
        border: solid 1px color #d67002;
    }
    .colorboton {
        background-color: #d67002;
        color: white;
        font-size: 20px;
    }
    footer {
        width: 100%;
        height: 300px;
        size: 60px;
        padding-left: 20px;
        color: white;
        background-color: #d67002;
    }
  
        
    
