* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: mifuente;
    src: url(Nunito.ttf);
}
body {
    font-family: mifuente;
    font-size: 20px;
    color: #d67002;
}
#encabezado {
    height: 400px;
    width: 100%;
    background-image: url(encabezado.jpg);
    background-size: cover;
}
table {
    width: 100%;
}
.cuadro1 {
    width: 60%;
    height: 500px;
    text-align: justify;
    padding: 40px;
    border:1px solid #d67002;
}
.cuadro1 a {
    width: 25%;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none ;
    background-color: #d67002;
    color: white;
}
.cuadro2 {
    width: 40%;
    height: 500px;
    text-align: center;
    background-color: #d67002;
}
.cuadro2 img {
    width: 80%;
    height: 80%;
}
.cuadro3 {
    width: 100px;
    height: 500px;
    text-align: center;
    padding: 40px;
    border: 1px solid #d67002;
}
input textarea,select {
    height:40px;
    width: 400px;
    margin-top: 5px;
}
input [type = button]{
background-color: #d67002;
color: white;
font-size:20px;
}
fieldset{
    width:60%;
    text-align: center;
    padding: 10px;
    margin-top:5px;
    margin-left: 20%;
    border: 1px solid #d67002;

}
input {
    height: 40px;
    width: 400px;
    margin-top:5px;
}
#pie {
    width: 100px;
    height: 60px;
    background-color: #d67002;
    padding: 20px;
    color: white;
}