* {
	margin:0px;
	padding: 0px;
}
body {
	background-image:url(fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color:#215968;
	font-family:'Tahoma';
	font-size:14px;
  margin:20px;
}
h1 {
  text-align:left;
  text-decoration:overline;
  letter-spacing:10px;
  word-spacing:30px;
  text-transform:capitalize;
  font-size:36px;
  border: 2px dotted #215968;
  margin-top:40px;
  padding-left:40px;
  padding-top:40px;
}
/*Estilos en funci칩n del contexto*/
/*En este caso cuando la etiqueta b est치 dentro de p aplica este primer estilo.
Cuando b est치 dentro de h2 aplica el siguiente y cuando no est치 en ninguno de los anteriores aplica solo negrita*/
p {
	border-top:3px double #215968;
}
h2 {
	width:200;
	border: 10px ridge #215968;
}
h2 {
  color:#215968;
  text-align:center;
  text-decoration:line-through ;
  text-indent:20px;
  font-size:18px;
}
h3 {
  color:#215968;
  text-align:right;
  text-decoration:underline;
}
h4 {
  border:2px dotted #215968;
	padding-top: 30px;
	padding-left: 20px;
  font-size:18px;
}