*{
margin:0;
padding: 0;
box-sizing: border-box;
}
@font-face {
    font-family: Mula;
    src: url(Fuenteseimagenes/Muli-Regular.ttf);
}
body {
    width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0 auto;
    font-family:Mula;
    background-color: #fdf5e6;
}
.encabezado {
    width:500px;
    height: 60px;
    padding:0%;
    color: #fdf5e6;
    background-color: #83737d;
    border-radius: 10px;
    text-align: center;
}
.alineador {
    display: flex;
}
.menu {
    padding:10px;
    background-color: #fdf5e6;
    box-shadow: -5px,5px,15px,black rgba (0,0,0,0,8);
    position: relative;
    top:20px;
    left: 30px;
    width: 350px;
    height: 200px;
}
.menu a {
    display: inline-block;
    width:100%;
    text-decoration: none;
    background-color: #fdf5e6;
    padding:10px;
    color:#83737d;
    border: 1px solid #83737d;
}
.menu a:hover{
    border-radius: 0px 30px 0px 0px;
    background-color: #83737d;
    color: #fdf5e6;
}
.lateral {
    text-align:justify;
    padding: 15px;
    color: #83737d;
    position:relative;
    top: 20px;
    left: 60px;
    width: 350px;
}
.contenedor {
    background-color: #83737d;
    border-radius: 10px;
    position: relative;
    top: 40px;
    width: 800px;
    height: 300px;
}
.contenedor img {
    margin-left: 50px;
    position: relative;
    top: 60px;
    left: 30px;
    width: 300px;
    height: 200px;
    border-radius:10px;
}
.pie {
    display: block;
    background-color: #fdf5e6;
    color: black;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    border:1p
}
.pie a{
    text-decoration: none;
    color:#83737d;
}
.pie a:hover {
    border-radius: 0px 30px 0px 0px;
    background-color: #83737d;
    color: #fdf5e6;
}

