*{
margin: 0 auto;
padding: 0;
box-sizing: border-box;
font-family:Raleway;
}
@font-face {
    font-family:Raleway;
    src: url(Fuenteseimagenes/Raleway.ttf);
}
body {
    max-width: 1250px;
    background-color:rgba(255,147,107,0.5);
}
.cabecera{
    font-size:70px;
    color:white;
    background-color: rgba(255,81,17,1);
}
.cabecera p {
   margin-left: 50px;
}
.cabecera img {
    position: relative;
    left: 950px;
    height:50px;
    width:50px
}
.contenedor_imagenes {
    background-color: rgba(255,226,215,1);
    margin-top: 20px;
}
.contenedor_imagenes img {
    height: 200px;
    width: 300px;
}
.contenedor_imagenes h3 {
    color:rgba(255,81,17,1);
    border:1px solid rgba(255,81,17,1);
    background-color: white;
    box-shadow: 0px 0px 7px black;
}
.contenedor_imagenes h3:hover {
    color:white;
    border:1px solid white;
    background-color:rgba(255,81,17,1);
    box-shadow: 0px 0px 7px rgba(255,81,17,1);
}
.nieve {
    text-align: center;
    padding:80px;
    display: inline-block;
    margin-left: 150px;
}
.trekking  {
    text-align: center;
    padding:80px;
    display:inline-block;
    position: relative;
}
.fitness {
    margin-left:150px;
    text-align: center;
    padding:80px;
    display:inline-block;
}
.ciclismo {
    text-align: center;
    padding:80px;
    display:inline-block;
}



